* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

a {
	display: block;
	width: 100%;
	font-weight: bold;
	color: #2c3e50;
	text-decoration: none;
}

a.router-link-exact-active {
	color: #42b983;
}
